<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build-A-Page</title>

    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="w-full h-full">
    <nav class="flex justify-between p-4 bg-orange-200">
        <h1 class="text-4xl text-slate-700">Build-A-Page</h1>
        <div class="flex gap-4">
            <a href="/dashboard">📄 Dashboard</a>
            <a href="/login">🔑 Login</a>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>
</html>