<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build-A-Page</title>
    
    <link href="./gridStack/gridstack.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />

    <script src="./gridStack/gridstack-h5.js"></script>

    <script src="./gridStack/gridstack-poly.js"></script>
    <script src="./gridStack/gridstack-jq.js"></script>
</head>
<body class="w-full h-full">
    <nav class="flex justify-between p-5 bg-orange-200">
        <h1 class="text-5xl text-black font-bold">Build-A-Page</h1>
        <div class="flex gap-12 font-medium text-md mt-3 items-center">
            <a href="/dashboard">📄 Dashboard</a>
            {{#if logged_in}}
            <button id="logout-btn">🔑 Logout</button>
            {{else}}
            <a href="/signup">🔑 Sign up & get started now!</a>
            {{/if}}
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>
</body>
    {{#if logged_in}}
        <script src="./js/logout.js"></script>
    {{/if}}
</html>
