<!-- {{! Inputs for email and password }}

{{! Button for login with inputs
or "if you haven't previously made an account"  btn for sign up }}

{{! Login btn links to dashboard }} -->

<h1 class="text-2xl font-semibold leading-6 pl-20 pt-20">
    Do you want to build a page, without being a coding genius?</h1>
<div class="columns-2">
    <div class="w-full max-w-lg ml-20 pt-12 mb-10">
        <form class="bg-white border border-red-500 shadow-2xl rounded-sm px-10 pt-12 pb-12 mb-10" id="login-form" action="#"
            method="POST">
            <input type="hidden" name="remember" value="true" />

            <div class="mb-4">
                <label class="block mb-2 text-xs font-semibold text-gray-600 uppercase" for="email">
                    Email
                </label>
                <input id="login-email" name="email" type="email" autocomplete="email" required
                class="shadow appearance-none border w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            </div>

            <div class="mb-8">
                <label class="block mb-2 text-xs font-semibold text-gray-600 uppercase" for="password">
                    Password
                </label>
                <input id="login=password" name="password" type="password" autocomplete="password" required
                    class="shadow appearance-none border w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                <p class="pt-3 text-red-500 text-xs italic">Please choose a password.</p>
            </div>

            <div class="flex items-center justify-between">
                <button type="submit" id="login-btn"
                    class="w-full py-3 font-medium tracking-widest uppercase shadow-lg text-white bg-red-500 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2"
                    type="button">
                    Log In
                </button>
            </div>
        </form>
    </div>
    <div><img class="w-50px pr-20" src="../assets/login.jpg"></div>
</div>

<script src="./js/login.js"></script>
<!-- <script src="https://cdn.tailwindcss.com"></script> -->
